<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Actores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let actor of actors" size="12" size-md="4">
        <app-actor-card
          [actor]="actor"
          (onMovieClick)="goToMovie(actor.id)"
        ></app-actor-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
