<ion-card>
  <img
    class="actor-img pointer"
    [src]="actor.img"
    onerror="this.src = './assets/error.jpeg'"
  />

  <ion-card-header>
    <ion-card-title>{{ actor.first_name }} {{actor.last_name}}</ion-card-title>
  </ion-card-header>

  <ion-card-content class="actorCardContent">
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-justify-sapce-around">
        <ion-col size="6">Gender: {{actor.gender}}</ion-col>
        <ion-col size="6">Born in: {{actor.bornCity | bornCityLength}}</ion-col>
        <ion-col size="6">Birthday: {{actor.birthdate}}</ion-col>
        <ion-col size="6">Rating: {{actor.rating}}</ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col size="12">
          <span *ngIf="!actor.movies?.length">No known films</span>
          <span *ngIf="actor.movies?.length">Known Films:</span>
          <ul>
            <li  
            class="pointer"
            *ngFor="let movie of actor.movies" 
            (click)="onMovieClick(movie)"
            >
              {{ movie | moviesArray }}
            </li>
          </ul>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>