<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Estudios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  Esto lo desarrolla el alumno de manera opcional
</ion-content>
